<p id="notice"><%= notice %></p>

<h1 class = 'title is-2'>Cubes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Brand</th>
      <th>Model</th>
      <th>Description</th>
      <th>Condition</th>
      <th>Finish</th>
      <th>Price</th>
      <th colspan="0"></th>
    </tr>
  </thead>

  <tbody>
    <% @cubes.each do |cube| %>
      <tr>
        <td><%= cube.title %></td>
        <td><%= cube.brand %></td>
        <td><%= cube.model %></td>
        <td><%= cube.description %></td>
        <td><%= cube.condition %></td>
        <td><%= cube.finish %></td>
        <td><%= cube.price %></td>
        <%# if cube_path(cube) %>
        <td><%= link_to 'Show', cube, :style=>'color:#2729A2;' %></td>
        <td><%= link_to 'Edit', edit_cube_path(cube), :style=>'color:#2729A2;' %></td>
        <td><%= link_to 'Destroy', cube, :style=>'color:#2729A2;', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%# end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= button_to 'New Cube', new_cube_path, class: 'button is-warning' %>