<p id="notice"><%= notice %></p>

 <!-- <p> -->
  <!-- <strong>Sold By: <%#= @cube.user.name %></strong> -->
<!-- </p>   -->

<p>
  <strong>Title:</strong>
  <%= @cube.title %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @cube.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @cube.model %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cube.description %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @cube.condition %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @cube.finish %>
</p>

<p>
  <strong>Price:</strong>
  <%= @cube.price %>
</p>

<p>
  <%= image_tag(@cube.image_url (:thumb)) %>
</p>


<%= link_to 'Edit', edit_cube_path(@cube) %> |
<%= link_to 'Back', cubes_path %>
<div class="center">
<%= button_to 'Add to cart', line_items_path(cube_id: @cube), class: 'button is-warning add-to-cart' %>
</div>


<br>